*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: #010001;
    color: #fff;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}

.header{
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.item-link{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary-menu .item-link{
    color: #808080;
}